<div class="navbarr">
    <nav>
        <ul class="snip1143">
            <li ><a routerLink="/"  data-hover="Acceuil" >Acceuil</a></li>
            <li><a href="#about-us" data-hover="A propos">A propos</a></li>
            <li><a href="#v2" data-hover="Véhicules" >Véhicules</a></li>
            <li><a routerLink="/" data-hover="Contact" >Contact</a></li>
            <li><a routerLink="/se-connecter" data-hover="Se connecter" class="connecter">Se connecter</a></li>
            <li><a routerLink="/posting" data-hover="Publier une annonce" class="connecter">Publier une annonce</a></li>
            
        </ul>
    </nav>
</div>